body {
  background-color: black;
  color: white;
  font-family: "Inconsolata", monospace;
  width: 725px;
  margin: 0 auto;
}

h1 {
  color: #00FF00
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

img.icon {
  width: 100px;
  height: 100px;
}
