#ctr-nav {
  z-index: 30;
  font-family: "Inconsolata", monospace;
  margin: 0 auto;
  float: center;
  background: black;
}

#ctr-nav ul li {
  padding: 0;
  list-style: none;
  float: left;
}

#ctr-nav  ul li a{
	display: block;
	margin: 0 1px 0 0;
	padding: 5px 10px;
	color: #0f0;
  border: solid 1px #333;
	text-align: center;
	text-decoration: none;
  -webkit-transition: color .4s ease-in-out, border .4s ease-in-out;
  transition: color .4s ease-in-out, border .4s ease-in-out;
}

#ctr-nav ul li a:hover {
  color: #090;
  border: solid 1px #555;
  -webkit-transition: color .4s ease-in-out, border .4s ease-in-out;
  transition: color .4s ease-in-out, border .4s ease-in-out;
}

#ctr-nav ul.sub {
	position: absolute;
	visibility: hidden;
}

#ctr-nav ul.sub li a {
  display: block;
  margin: 0 1px 1px 0;
  padding: 5px 10px;
  text-align: left;
  text-decoration: none;
  float: left;

}
